<style>

  .user-dropdown {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

.dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            top: 20px; /* Margin top */
            right: -50px;  /* Align to the top right */
            margin-bottom: 100px; /* Margin bottom */
        }

 .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

 }

 .dropdown-content a:hover {
            background-color: #f1f1f1;
 }
</style>